body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    top: 0;
    position: relative;
    color: #fff9;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
#link{
  color: red;
}


nav img {
    font-size: 20px;
    margin-left: 50px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 30px;
}

nav .onglets p a {
    text-decoration: none;
    color: #fff9;
}
nav .onglets input {
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    margin-top: 12px;
}
 #cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
 }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/shoes-6336173_1280.jpg);
    height: 100vh;
    background-position: center;
}

header h1 {
    font-size: 50px;
    max-width: 500px;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
}
header h1 b{
  color: red;
}
.vtn a{
  text-decoration: none;
  color: #fff;
}

.vtn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: red;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    margin-bottom: 90px;
   }
   
   .vtn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .vtn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .vtn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .vtn:active {
    transform: scale(0.9);
   }

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
}

.cards .card img {
    width: 350px;
    border-radius: 50px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
    transition: 0.5s;
    border-width: 5px;
    border-style: solid;
    border-image: conic-gradient(red, aqua, blue, magenta, red) 1;
}
.cards .card img:hover{
    transform: scale(1.2);
}

.cards .card .card-header {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    font-weight: 500;
}
.ajtr{
margin-left: 50px;
margin-bottom: 20px;
}

.main .video {
    margin-top: 80px;
    width: 90%;
}

.main .video iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

@media screen and (min-width:270px) and (max-width:1200px) {
    nav .onglets .link {
        display: none;
    }
}

.main1 {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main1 h1 {
    margin-right: 70%;
}

.cards .card .rating {
    margin-left: 9px;
    color: rgb(255, 115, 0);
    margin-top: 10px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 100px;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
}

.pagination li a:hover {
    background-color: rgb(255, 115, 0);
}
.sous-cards{
    display: flex;
    flex-wrap: wrap;
}
.sous-card{
display: flex;
}
.sous-card h3{
  margin-top: 25%;
  margin-left: 60px;
}

.main2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/nike-5126389_1280.jpg);
    height: 100vh;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
    background-position: center;
} 
.cta {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 250px;
    margin-left: 500px;
    height: 70px;
    justify-content: center;
  }
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #f2f2f2;
   
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #fff;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .footer {
    background: #333;
    color: #fff;
    padding: 60px 0;
    margin-top: 60px;
  }
  
  .footer-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 25%;
    padding: 20px;
  }
  
  .footer-bottom {
    text-align: center;
   margin-top: 40px;
   
  }
  
  .logo-text {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .socials{
    margin-top: 50px;
  }
  .socials a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 20px;
  }
  
  .socials a:hover {
    color: red;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
    padding: 5px;
   
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: red;
  }
  
  .contact-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    color: #fff;
    background: red;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #000;
  }
  
  .contact-btn {
    width: auto;
    padding: 10px 20px;
  }
  
  .fa {
    margin-right: 10px;
  }